<%# <div class="banner" style="background-color: #292b2c;"> %>
  <div class="container-show">
    <h2><%= @list.name%></h2>
    <%= link_to 'Add a bookmark', new_list_bookmark_path(@list.id), class: "btn btn-warning"%>
  </div>
<%# </div> %>


<div class="wrapper">
  <% @bookmarks.each do |bookmark| %>
	<div class="card" style="width: 15rem;">
		<img src="<%= bookmark.movie.poster_url %>">
    <div class="info">
			<h1><%= bookmark.movie.title%></h1>
			<p><%= bookmark.movie.overview %></p>
      <p>Rating: <%= bookmark.movie.rating %></p>
      <p><%= bookmark.comment %></p>
      <%= link_to 'Remove', bookmark_path(bookmark), method: :delete, class: 'card-remove-link', class: 'text-link', class: 'btn btn-warning mt-2', data: { confirm: "Remove #{bookmark.movie.title}?"} %>
    </div>
  </div>
  <%end%>
</div>
